body {
    overflow-y: scroll;
}

button {
    position: relative;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin: 0px 10px;
    border: none;
    border-radius: 3px;
    background: #2A284E;
    color: #FCBE74;
    transition: .2s;
}

button:hover {
    transition: .2s;
    color: #FFF;
}

.App {
    min-width: 320px;
}